/* Hero Section */

.hero-one {
  /* width: 50%; */

  background-image: url("../../assets/images/hero-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* aspect-ratio: 16/9; */
  border-radius: 25px;
}

.hero-one-content {
  padding: 2.5rem 1rem;
  color: #498b87;
}

.tagline {
  display: inline-flex;
  align-items: center;
  gap: 1rem;

  font-size: 20px;
  font-weight: 700;
}

.tagline span {
  font-size: 20px;
  font-weight: 700;
}

.title {
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  margin-bottom: 8rem;
}

.title h1 {
  color: #0c4631;
  font-size: 2.5rem;
  font-weight: 600;
}

.title p {
  font-weight: 700;
}

.hero-icons {
  display: flex;
  color: black;
  margin-bottom: 1rem;
}

.hero-icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
}

/* .right {
  position: absolute;
  left: 155px;
} */
.hero-icons .icon:not(:first-child) {
  margin-left: -6px;
}

.text {
  color: white;
  background-color: #0f2221;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 1.875rem;
  font-size: 16px;
}

.hero-two {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.hero-two .one {
  background-image: url("../../assets/images/hero-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  padding-top: 8rem;
  border-radius: 35px;
  display: flex;
  align-items: end;
  color: #fff;
  text-transform: capitalize;
}

.one h2 {
  font-size: 2rem;
  font-weight: 500;
}

.one-tagline {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
  padding: 0.2rem 0.4rem;
  font-size: 16px;
  background-color: #000;
  border-radius: 30px;
  font-weight: 500;
}

.one-tagline .icon {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
}

.hero-two .two {
  background-color: #d9d9d9;
  padding: 1rem 2rem;
  border-radius: 35px;
}

.two .two-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.two-title {
  background-image: url("../../assets/images/hero-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 1.5rem;
  /* width: 70%; */
  margin: 0 auto;
}

.two-title h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.two-tagline {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  gap: 2rem;
}

.two-tagline h2 {
  color: #0f2221;
  font-weight: 500;
  font-size: 2rem;
}

/* Quick fix */
.img-tagline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-tagline img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.img-tagline img + img {
  margin-left: -6px;
}

/* Services Section */
.service-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1.5rem;
}

.service-content .service-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.service-text h3 {
  color: #24706f;
}

.service-text .inner-text {
  display: flex;
  /* justify-content: center; */
  align-items: end;
  justify-content: space-between;
  gap: 5rem;
}

.h2 {
  width: auto;
}

.h2 h2 {
  font-size: 36px;
  font-weight: 600;
}

.h2 .span-color {
  font-weight: 600;
  color: #1daba9;
}

.p {
  align-self: flex-end;
  width: 50%;
}

.p p {
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}

/* .service-content .service-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
} */

.card h3 {
  font-size: 24px;
  font-weight: 700;
}

.card-1 {
  background-image: url("../../assets/Card/card-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-2 {
  background-image: url("../../assets/Card/card-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-3 {
  background-image: url("../../assets/Card/card-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-4 {
  background-image: url("../../assets/Card/card-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-5 {
  background-image: url("../../assets/Card/card-5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-content .service-link {
  margin: 0 auto;
  background-color: #013936;
  border-radius: 20px;
}

.service-link a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.service-link a > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Work Section */
.work {
  background-color: #013936;
  padding: 4rem 1.5rem;
  color: #fff;
  font-weight: 500;
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.work-content .work-head {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.work-head h3 {
  font-size: 32px;
}

.work-head .work-subhead {
  display: flex;
  align-items: end;
  gap: 4rem;
  font-size: 1rem;
  font-weight: 500;
}

.work-subhead h2 {
  font-size: 40px;
  font-weight: 800;
}

.work-subhead p {
  text-transform: capitalize;
}

.work-content .work-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 0.5rem;
}

.work-list > * {
  flex: 1;
}

.work-list .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.list-text {
  font-size: 20px;
  font-weight: 500;
}

.list-text h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

/* Quick Image edit */
.work-list .image-border {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-div {
  width: 300px;
  height: 300px;
  border: 2px dashed #fff;
  padding: 1.5rem;
  border-radius: 50%;
}

.image-div img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/* Blog Content */
.blog-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.blog-content .blog-head {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-head h3 {
  color: #23918f;
  font-weight: 600;
  font-size: 36px;
}

.blog-head .blog-subhead {
  display: flex;
  align-items: end;
  gap: 4rem;
  font-size: 1rem;
  font-weight: 500;
}

.blog-subhead h2 {
  font-weight: 800;
  font-size: 40px;
  text-transform: capitalize;
  color: #383333;
}

.blog-subhead p {
  text-transform: capitalize;
}

/* .blog-content .blog-post {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;
} */

.post {
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
  border: 1px solid #d9d9d9;
}

.spacer {
  padding: 0.5rem 1rem;
}

.post img {
  width: 418px;
  height: 276px;
  object-fit: cover;
  border: 1px solid #000;
}

/* Author Image */
.post-title img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
}

.post-author p {
  font-size: 20px;
}
